*target/
logs/

# Mac
.DS_Store

Vim
*.un~

# Intellij
.idea/
*.iml
*.ipr
*.iws
*.log

atlassian-ide-plugin.xml

*/src/main/resources/announcement/yammer-announcement.vm
src/main/resources/announcement/yammer-announcement.vm
